<ul>
<%@songs.each do |song|%>
<li><%=song.name%></li>
<li><%=link_to song.artist.name, artist_path(@song)%></li>
<li><%=song.artist.bio%></li>
<li><%=link_to song.genre.name, genre_path(song.genre)%></li>
<%end%>
</ul>
